.button {
    padding: 1rem;
    margin-top: 1rem;
    background: #443385;
    outline: none;
    border: 1px solid #443385;
    box-shadow: -4px 4px #e1e1fc;
    font-size: 1.2rem;
    color: #ffffff;
  }