.button-purple {
    padding: 1rem;
    background: #443385;
    outline: none;
    border: 1px solid #443385;
    box-shadow: -4px 4px #e1e1fc;
    font-size: 1.2rem;
    color: #ffffff;
}

.button-green {
    background-color: #078080;
    outline: none;
    padding: 1.2rem;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: box-shadow 0.3s;
}
.button-green:hover {
    box-shadow: 0 8px 10px -5px rgba(31, 18, 53, 0.6);
}

.button-green:active {
    box-shadow: none;
}

.button-ghost {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: black;
    border: .125rem solid black;
    border-radius: .5rem;
    padding: 1rem;
  }
  
  .button-ghost:hover {
    background: #000;
    color: #ddd;
  }
  
  .button-ghost:active {
    background: #000;
    color: #FFF;
  }