.button {
    padding: 1rem;
    margin-top: 1rem;
    background: #443385;
    outline: none;
    border: 1px solid #443385;
    box-shadow: -4px 4px #e1e1fc;
    font-size: 1.2rem;
    color: #ffffff;
  }

.button-2 {
    background-color: #078080;
    outline: none;
    padding: 1.2rem;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: 1rem;
    transition: box-shadow 0.3s;
}
.button-2:hover {
    box-shadow: 0 8px 10px -5px rgba(31, 18, 53, 0.6);
}

.button-2:active {
    box-shadow: none;
}